body {
  font-family: "Comic Sans MS";
  background: pink;
  color: purple;
}

a {
  text-decoration: none;
  color: rgb(122, 122, 255);
}

a:hover {
  text-decoration: underline;
}

li {
  padding: 5px;
}

.center {
  text-align: center;
}
